@use "@porsche-design-system/components-js/styles" as *;

.section:first-of-type {
  margin-top: $pds-spacing-fluid-x-large;
}

.section {
  margin-top: $pds-spacing-fluid-xx-large;
  grid-column-start: $pds-grid-basic-column-start;
}
