@use "@porsche-design-system/components-js/styles" as *;

.section:first-of-type {
  margin-top: $pds-spacing-fluid-x-large;
}

.section {
  grid-column-start: $pds-grid-basic-column-start;
  min-height: $pds-spacing-fluid-x-large;
}

.section-grid {
  @include pds-grid;

  p-heading {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
  }
}

.section-xl {
  margin-top: $pds-spacing-fluid-xx-large;
}
