@use "@porsche-design-system/components-js/styles" as *;

.card {
  position: relative;
  transform: translate3d(0px, 0px, 0px);

  .image {
    position: relative;
    width: 15%;
    aspect-ratio: 1/1;
    transform: translate3d(535%, 50%, 0);
    z-index: 2;

    img {
      border-radius: $pds-border-radius-medium $pds-border-radius-medium;
      object-fit: contain;
    }
  }

  .content {
    padding: $pds-spacing-static-large $pds-spacing-static-medium;
    background: $pds-theme-dark-contrast-low;
    border-radius: $pds-border-radius-large;
  }

  .status {
    display: flex;
  }

  .title {
    margin-top: $pds-spacing-static-small;
  }

  .subtitle {
    margin-top: $pds-spacing-static-x-small;
  }

  .actions {
    display: flex;
    min-height: 1.5rem;
    gap: $pds-spacing-static-medium;
    margin-top: $pds-spacing-static-medium;

    .stars,
    .forks {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      p-icon {
        margin-right: $pds-spacing-static-x-small;
      }
    }
  }

  .link {
    margin-top: $pds-spacing-static-medium;
    display: none;
  }

  .link-overlay {
    position: fixed;
    inset: 0;
    border-radius: $pds-border-radius-large !important;
    font-size: 0;
    margin: 15% 0 0 0 !important;
  }
}
