@use "@porsche-design-system/components-js/styles" as *;

.hero-container {
  @include pds-grid;
  margin-top: -5rem;
  position: relative;
  aspect-ratio: 390 / 520;
  align-content: end;
  grid-auto-rows: min-content;

  @include pds-media-query-min("m") {
    aspect-ratio: 1920 / 900;
  }

  @include pds-media-query-min("s") {
    margin-top: -6.25rem;
  }

  .background-image-container {
    .hero-image {
      object-fit: cover;
      object-position: right center;
    }
    .image-overlay {
      background: linear-gradient(
        0deg,
        var(--app-background) 10%,
        rgba(0, 0, 0, 0) 50%
      );
      position: absolute;
      inset: 0;
    }
  }

  .subtitle,
  .title {
    z-index: 1;
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
  }
  .subtitle {
    grid-row: 1;
  }
  .title {
    grid-row: 2;
    margin-bottom: 2rem;
  }
}
