@use "@porsche-design-system/components-js/styles" as *;

.hero-container {
  @include pds-grid;
  margin-top: -6rem;
  position: relative;
  aspect-ratio: 2 / 3;
  align-content: end;
  grid-auto-rows: min-content;
  grid-gap: $pds-spacing-static-small;

  @include pds-media-query-min("xs") {
    aspect-ratio: 1 / 1;
    margin-top: -9rem;
  }

  @include pds-media-query-min("s") {
    aspect-ratio: 16 / 9;
    margin-top: -12rem;
  }

  .background-image-container {
    .hero-image {
      object-fit: cover;
      object-position: right center;
    }
    .image-overlay {
      background: linear-gradient(
        0deg,
        var(--app-background) 10%,
        rgba(0, 0, 0, 0) 50%
      );
      position: absolute;
      inset: 0;
    }
  }

  .subtitle,
  .title {
    z-index: 1;
    grid-column: $pds-grid-wide-column-start / $pds-grid-wide-column-end;
  }
  .subtitle {
    grid-row: 1;
  }
  .title {
    grid-row: 2;
    margin-bottom: $pds-spacing-fluid-medium;
  }
}
