@use "@porsche-design-system/components-js/styles" as *;

.header-container {
  @include pds-grid;
  @include pds-gradient-to-bottom();
  align-items: center;
  z-index: 99;
  min-height: 5rem;
  position: relative;

  @include pds-media-query-min("s") {
    min-height: 6.25rem;
  }

  .logo-container {
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
    display: flex;
    place-self: center;
    grid-row: 1;

    a {
      display: inline-flex;
      align-self: start;
    }

    p-crest {
      @include pds-media-query-min("s") {
        display: none;
      }
    }

    p-wordmark {
      @include pds-media-query-max("s") {
        display: none;
      }
    }
  }

  .github-container {
    grid-column: $pds-grid-wide-column-start / $pds-grid-wide-column-end;
    justify-self: end;
    grid-row: 1;
  }
}
