@use "@porsche-design-system/components-js/styles" as *;

.header-container {
  @include pds-grid;
  background: linear-gradient(
    180deg,
    var(--app-background) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  align-items: center;
  z-index: 99;
  min-height: 5rem;

  @include pds-media-query-min("s") {
    min-height: 6.25rem;
  }

  .logo-container {
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
    place-self: center;
    grid-row: 1;

    a {
      display: inline-flex;
    }

    p-crest {
      @include pds-media-query-min("s") {
        display: none;
      }
    }

    p-wordmark {
      @include pds-media-query-max("s") {
        display: none;
      }
    }
  }
}
