@use "@porsche-design-system/components-js/styles" as *;

.menu-container {
  grid-column-start: $pds-grid-wide-column-start;
  grid-row: 1;
}

.button-group {
  margin-top: $pds-spacing-fluid-medium;
}

.job-counter {
  background-color: $pds-theme-light-background-surface;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.navLink {
  width: auto;
  margin: 0 calc($pds-spacing-fluid-small * -1);
  padding: $pds-spacing-fluid-small;
}
