@use "@porsche-design-system/components-js/styles" as *;

.descriptionShort {
  grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end !important;
  margin: $pds-spacing-fluid-x-large 0;
}

.blog-content {
  background: $pds-theme-light-background-base;
  padding: $pds-spacing-fluid-x-large 0;
}
