@use "@porsche-design-system/components-js/styles" as *;

.descriptionShort {
  grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end !important;
  margin-top: $pds-spacing-fluid-x-large;
  margin-bottom: $pds-spacing-fluid-x-large;
}
