@use "@porsche-design-system/components-js/styles" as *;

:root {
  --app-background: #{$pds-theme-dark-background-base};
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-background: #{$pds-theme-dark-background-base};
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: $pds-theme-dark-primary;
  background: var(--app-background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul {
  list-style: none;
}

.mdx-content {
  p-heading:not(:first-of-type) {
    margin-top: $pds-spacing-fluid-large;
  }
  p-heading {
    margin-bottom: $pds-spacing-fluid-small;
  }

  p-text-list {
    margin-bottom: $pds-spacing-fluid-medium;

    p-text-list-item {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: $pds-spacing-fluid-medium;
  }

  p-tag {
    vertical-align: baseline;
    padding: 0px;
  }
}
