@use "@porsche-design-system/components-js/styles" as *;

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.foss-movement {
  background: linear-gradient(
    173.94deg,
    #0e0e12 0%,
    #69497980 50%,
    #0e0e12 100%
  );
}

.intro {
  grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end !important;
  margin-bottom: $pds-spacing-fluid-xx-large;
}

.documentation {
  .text {
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end !important;
    margin-bottom: $pds-spacing-fluid-medium;
    grid-row: 2;
  }
  .cta {
    justify-self: center;
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end !important;
    grid-row: 3;
  }
}

.keyvalues {
  margin-bottom: $pds-spacing-fluid-x-large;
  grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
}

.memberships {
  margin-top: $pds-spacing-fluid-xx-large;
  grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
  align-items: center;
}
