@use "@porsche-design-system/components-js/styles" as *;

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#intro {
  grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
  margin-top: $pds-spacing-fluid-large;
}

#foss-movement {
  grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
}
