@use "@porsche-design-system/components-js/styles" as *;

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.foss-movement {
  background: linear-gradient(
    173.94deg,
    #0e0e12 16.28%,
    #171425 51.71%,
    #0e0e12 89.43%
  );
}

.intro {
  grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end !important;
  margin-bottom: $pds-spacing-fluid-xx-large;
}

.keyvalues {
  margin-bottom: $pds-spacing-fluid-large;
}
