@use "@porsche-design-system/components-js/styles" as *;

.author {
  @include pds-media-query-max("l") {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
  }
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  background: $pds-theme-dark-background-shading;
  grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
  border-radius: $pds-border-radius-medium;
  padding: $pds-spacing-static-medium;
  display: flex;
  gap: $pds-spacing-static-medium;
  align-items: center;

  &.link {
    @include pds-hover;
    @include pds-focus();
    border-radius: $pds-border-radius-medium;
    padding: $pds-spacing-static-medium;
  }

  .image {
    @include pds-media-query-max("m") {
      display: none;
    }
    position: relative;
    width: 15%;
    aspect-ratio: 1/1;

    img {
      border-radius: $pds-border-radius-medium;
      padding: $pds-spacing-static-medium;
      object-fit: contain;
    }
  }

  .content {
    @include pds-media-query-max("m") {
      max-width: 95%;
    }
    max-width: 70%;

    .title {
      margin-top: $pds-spacing-static-small;
    }

    .description {
      margin-top: $pds-spacing-static-x-small;
    }
  }

  .icon {
    margin-left: auto;
  }
}
