@use "@porsche-design-system/components-js/styles" as *;

.doc-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
  grid-gap: $pds-grid-gap;

  @include pds-media-query-max("m") {
    grid-template-columns: 1fr;
  }
}
