@use "@porsche-design-system/components-js/styles" as *;

.imageTextList {
  [class~="description"] {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;

    @include pds-media-query-max("s") {
      grid-row: 2;
    }

    @include pds-media-query-min("s") {
      grid-column: $pds-grid-basic-column-start / 7 span;
      grid-row: 1;

      &[class~="left"] {
        grid-column: 7 span / $pds-grid-basic-column-end;
      }
    }
  }

  [class~="image"] {
    position: relative;
    aspect-ratio: 16/9;
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;

    @include pds-media-query-max("s") {
      grid-row: 1;
    }

    @include pds-media-query-min("s") {
      grid-column: 5 span / $pds-grid-basic-column-end;
      grid-row: 1;

      &[class~="left"] {
        grid-column: $pds-grid-basic-column-start / 5 span;
      }
    }

    img {
      object-fit: cover;
    }
  }
}
