@use "@porsche-design-system/components-js/styles" as *;

.keyvalue-container {
  grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;

  @include pds-media-query-min("l") {
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
  }

  &:not(:last-child) {
    margin-bottom: $pds-spacing-fluid-x-large;
  }

  .keyvalue {
    .principles-accordion {
      .principles {
        margin-top: $pds-spacing-fluid-small;
        display: grid;
        gap: $pds-spacing-fluid-large;
      }
    }
  }
}
